/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 juil. 2015, 17:38:48
    Author     : Poussins
*/
.ladder-press_page_ladder_press_maps .hide_row
{
    display:none;
}

.ladder-press_page_ladder_press_maps .show_row
{
    display:table-row;
}

a.deleted 
{ 
    color: white; 
    padding: 1px 6px 1px 6px; 
    text-decoration:none;
    border:1px #0073aa solid;
    margin-left: 5px;
    background-color: #00a0d2;
}
